{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block content %}
            <div class="well">
                <h1>Hi there! General Kenobi...</h1>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
