{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block content %}
            <div class="well">
                <h1>Hi there! General Kenobi...</h1>
            </div>
        {% endblock %}
    </div>
{% endblock %}
