{% extends 'base.html.twig' %}

{% block body %}
    {{ include('app/_fragments/_nav.html.twig') }}
    <div class="container">
        <h1 class="text-center">
            {% block heading %}Rusko-český, česko-ruský slovník hudebních pojmů online{% endblock %}
        </h1>
        {% block content %}
            <div class="well">
                <h1>Hi there! General Kenobi...</h1>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
