{% extends 'base.html.twig' %}

{% block body %}
    {% include 'app/_fragments/_nav.html.twig' %}
    <div class="container mt-4">
        {% block container %}
            <h1 class="text-center mb-3">
                {% block heading %}{{ 'app.title'|trans }}{% endblock %}
            </h1>
            {% block content %}{% endblock %}
        {% endblock %}
    </div>
    {% include 'app/_fragments/_footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script defer src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
