{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}

{% block body %}
    {% include 'app/_fragments/_nav.html.twig' %}
    <div class="container mt-4">
        {% block container %}
            <h1 class="text-center mb-3">
                {% block heading %}{{ 'app.title'|trans }}{% endblock %}
            </h1>
            {% block content %}{% endblock %}
        {% endblock %}
    </div>
    {% include 'app/_fragments/_footer.html.twig' %}
{% endblock %}
