{% extends 'app/layout.html.twig' %}

{% block heading 'app.title.topics'|trans %}

{% block content %}
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
