{% extends 'app/layout.html.twig' %}

{% block heading %}
    {{ 'app.title.topics'|trans }}
{% endblock %}

{% block content %}
    {% for category in categories %}
        <h3>
            <a href="{{ path('app.topic', { id: category.id }) }}">{{ category.title }}</a>
        </h3>
    {% endfor %}
{% endblock %}
