{% extends 'app/layout.html.twig' %}

{% block title 'Login' %}

{% block body %}
    <div class="container">
        <div class="row" style="padding-top: 30px">
            <div class="col-md-4 col-md-offset-4">
                {% if error %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="well">
                    <form method="post" action="{{ path('login') }}">
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input type="email" id="email" name="_username" class="form-control"
                                   placeholder="john.doe&#x40;example.com" autofocus="autofocus"
                                   value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" id="password" name="_password" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">
                                Sign in
                            </button>
                        </div>
                        <div class="text-center">
                            <a href="#" onclick="return window.history.back();">Go back</a>
                        </div>
                        <input type="hidden" name="_target_path" value="{{ path('admin.dashboard') }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
