*

!/assets/
!/bin/
!/config/
!/public/
!/src/
!/templates/
!/translations/
!/vendor/
!/.env
!/composer.json
!/composer.lock
!/easy-coding-standard.yaml
!/package.json
!/package-lock.json
!/phpstan.neon
!/postcss.config.js
!/symfony.lock
!/webpack.config.js
