includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
    tmpDir: %currentWorkingDirectory%/var/phpstan
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcApp_KernelDevDebugContainer.xml
    excludes_analyse:
        - %currentWorkingDirectory%/src/Migrations/*
    ignoreErrors:
        - '#.*Function twig_escape_filter not found..*#'
