<div class="callout callout-info">
    <h4>Informace!</h4>
    <p>
        Žiaľ nefunguje náhľad počas písania, zatiaľ sa mi nepodarilo spojazdniť ten pekný editor.
    </p>
    <p>
        Články je možné editovať, ale bude lepšie ak to necháš na mňa.
        Aspoň ľahšie pridáme na nejaké stránky obsah a nemusím to programovať.
    </p>
</div>
