{% extends 'app/layout.html.twig' %}
{% import 'app/_macros/filter.html.twig' as filter %}

{% block heading 'app.title.vocabulary_russian'|trans %}

{% block content %}
    <div class="text-center mb-3">
        {{ filter.links('app.russian_to_czech', letters) }}
    </div>
    {% for wordsInRow in words|batch(12) %}
        <div class="row">
            {% for word in wordsInRow %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <h3>
                        <a href="{{ path('app.russian_to_czech.detail', { id: word.id }) }}">{{ word }}</a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
