{% extends 'app/layout.html.twig' %}
{% import 'app/_macros/filter.html.twig' as filter %}
{% import 'app/_macros/list.html.twig' as list %}

{% block heading 'app.title.vocabulary_russian'|trans %}

{% block content %}
    <div class="text-center mb-3">
        {{ filter.links('app.russian_to_czech', letters) }}
    </div>
    {{ list.listOfWords(words) }}
{% endblock %}
