// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~font-awesome/scss/font-awesome.scss";
@import "~select2/dist/css/select2.min.css";

// AdminLTE is included by webpack
//@import "~admin-lte/dist/css/AdminLTE.min.css";
//@import "~admin-lte/dist/css/skins/_all-skins.min.css";

.highlight-accent {
  font-weight: bold;
}

.highlight-latin,
.highlight-cyrillic {
  color: #ff0000;
}
