{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/admin') }}
{% endblock %}

{% block body_class 'skin-purple hold-transition sidebar-mini fixed' %}

{% block body %}
    <div class="wrapper">
        {% include 'admin/_fragments/_nav.html.twig' %}
        {% include 'admin/_fragments/_sidebar.html.twig' %}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {% block title %}{% endblock %}
                    <small>{% block heading_small %}{% endblock %}</small>
                </h1>
            </section>
            <section class="content">
                {% include 'admin/_fragments/_flash_messages.html.twig' %}
                {% block content %}
                    <div class="box">
                        <div class="box-body">
                            Oh no, there is no content!
                        </div>
                    </div>
                {% endblock %}
            </section>
        </div>

        {% include 'admin/_fragments/_footer.html.twig' %}
    </div>
{% endblock %}
