{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}

{% block body_class 'skin-purple hold-transition sidebar-mini fixed' %}

{% block body %}
    <div class="wrapper">
        {% include 'admin/fragment/_nav.html.twig' %}
        {% include 'admin/fragment/_sidebar.html.twig' %}

        <div class="content-wrapper">
            {% include 'admin/fragment/_flash_messages.html.twig' %}
            {% block content %}
                <div class="well">
                    <h1>Oh no, there is no content!</h1>
                </div>
            {% endblock %}
        </div>

        {% include 'admin/fragment/_footer.html.twig' %}
    </div>
{% endblock %}
