{% extends 'app/layout.html.twig' %}

{% block title 'O projektu' %}

{% block content %}
    <div class="well">
        <h1>Hello, this is about page!</h1>

        <button class="btn btn-primary">Hey there!</button>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam asperiores consequuntur dignissimos dolore
        earum, eum fugiat hic, ipsa iste maiores nulla optio provident repellat tenetur velit veniam veritatis
        voluptatem!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda at consequatur distinctio hic
        impedit, iusto libero magnam minima natus nemo numquam odio possimus quisquam sed similique temporibus tenetur
        voluptatum!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi at dolor dolore error esse, facilis illum
        impedit in natus nesciunt omnis repudiandae saepe sed sequi sunt ut veniam voluptatem.
    </p>
{% endblock %}
