<footer class="main-footer">
    <strong>Copyright &copy; 2018 <a href="https://www.petrofcik.eu" target="_blank">Matúš Petrofčík</a>.</strong>
    <span class="pull-right hidden-xs text-muted">{{ get_git_commit_hash() }} - {{ get_git_commit_date() }}</span>
</footer>
