<header class="main-header">
    <a href="{{ path('admin.dashboard') }}" class="logo">
        <span class="logo-mini"><b>D</b></span>
        <span class="logo-lg"><b>DICTIONARY</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu hidden-xs">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('app.index') }}">
                        <i class="fa fa-home"></i> Visit site
                    </a>
                </li>
                <li>
                    <a href="{{ path('logout') }}" onclick="return confirm('Are you sure?');">
                        <i class="fa fa-sign-out"></i> Sign out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
