<header class="main-header">
    <a href="{{ url('admin.dashboard') }}" class="logo">
        <span class="logo-mini"><b>D</b></span>
        <span class="logo-lg"><b>DICTIONARY</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {#
                <li>
                    <a href="#">
                        <span class="hidden-xs">Profile</span>
                    </a>
                </li>
                #}
                <li>
                    <a href="{{ path('logout') }}" onclick="return confirm('Are you sure?');">
                        <span class="hidden-xs">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
