{% extends 'app/layout.html.twig' %}

{% block content %}
    <div class="form-group">
        <input class="form-control" type="text" title="" placeholder="Začněte psát...">
    </div>
    <hr>
    {% if page is not null %}
        <div>
            {{ page.content|md2html }}
        </div>
    {% endif %}
{% endblock %}
