{% extends 'app/layout.html.twig' %}

{% block title 'Hey bro!' %}

{% block content %}
    <div class="form-group">
        <input class="form-control" type="text" title="" placeholder="Začněte psát...">
    </div>
    <hr>
    <div class="well">
        some words
    </div>
{% endblock %}
