<div class="modal modal-primary fade" id="js-modal-feedback">
    <div class="modal-dialog">
        <form class="modal-content" action="#" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title"><i class="fa fa-warning"></i> Info!</div>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque illo itaque iusto
                labore maiores mollitia numquam optio possimus quae quaerat quis, reiciendis velit voluptate!
                Impedit molestias provident sequi!


                <div class="form-group">
                    <label for="textArea" class="control-label">Textarea</label>
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-outline">
                    Send!
                </button>
            </div>
        </form>
    </div>
</div>
