{% extends 'admin/layout.html.twig' %}

{% block title 'Tematické kategorie' %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-striped table-hover js-data-table">
                <thead>
                <tr>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <a href="{{ url('admin.category.view', {id: category.id}) }}">
                                {{ category.title }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Title</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="box-footer">
            <a href="{{ url('admin.category.add') }}" class="btn btn-primary">
                <i class="fa fa-plus"></i> Add category
            </a>
        </div>
    </div>
{% endblock %}
