<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matúš Petrofčík">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="google-site-verification" content="iVZ1u4mbsaG3TrWqFDQ_QMEWsNaCSo4CZgVguBHHtSY">
    <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/js/common.js') }}"></script>
    {% endblock %}
</body>
</html>
