{% extends 'admin/layout.html.twig' %}

{% block title 'Dashboard' %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Czech words</span>
                    <span class="info-box-number">{{ count_czech_words() }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-book"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Russian words</span>
                    <span class="info-box-number">{{ count_russian_words() }}</span>
                </div>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-book"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Translations</span>
                    <span class="info-box-number">{{ count_translations() }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-book"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Examples</span>
                    <span class="info-box-number">{{ count_translation_examples() }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- todo: add some content -->

    <div class="box box-default">
        <div class="box-header with-border">
            <i class="fa fa-bullhorn"></i>
            <h3 class="box-title">News</h3>
        </div>
        <div class="box-body">
            There are no news yet.
        </div>
    </div>
{% endblock %}
