{% extends 'admin/layout.html.twig' %}

{% block title 'Legacy word' %}

{% block content %}
    <table>
        <tr>
            <td>{{ word.id }}</td>
            <td>{{ word.original }}</td>
        </tr>
    </table>
{% endblock %}
