{% extends 'app/layout.html.twig' %}

{% block heading 'app.title.abbreviations'|trans %}

{% block content %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{{ 'app.abbreviation'|trans }}</th>
                <th>{{ 'app.meaning'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for abbreviation in abbreviations %}
                <tr>
                    <td><em>{{ abbreviation.content }}</em></td>
                    <td>{{ abbreviation.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
